.hero-section {
  background: linear-gradient(135deg, #f0fdf4 0%, #dcfce7 100%);
  padding: 8rem 4rem 2rem 4rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;

  .primary-plan {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    max-width: 46rem;

    .titles {
      font-family: 'Oswald';

      h1 {
        font-size: 3.6rem;
        font-weight: 700;
        color: #065f46;
        margin-bottom: 1.2rem;
      }

      p {
        font-size: 1.6rem;
        color: #065f46;
        line-height: 2.4rem;
        text-align: justify;
      }
    }

    .service {
      display: grid;
      grid-template-columns: repeat(2, auto);
      gap: 1.2rem;

      .paragraph-one {
        display: flex;
        gap: 1rem;
        align-items: center;

        .stars {
          display: flex;

          i {
            color: #ffb700;
            font-size: 1.4rem;
            margin-left: -1px;
            animation: shine 1.5s infinite alternate ease-in-out;

            &:first-child {
              animation-delay: 0.1s;
            }

            &:nth-child(2) {
              animation-delay: 0.2s;
            }

            &:nth-child(3) {
              animation-delay: 0.4s;
            }

            &:nth-child(4) {
              animation-delay: 0.6s;
            }

            &:nth-child(5) {
              animation-delay: 0.8s;
            }
          }
        }

        p {
          font-size: 1.4rem;
          color: #065f46;
        }
      }

      .paragraph-two {
        display: flex;
        gap: 0.5rem;
        align-items: center;

        i {
          font-size: 1.4rem;
          color: #10b981;
          font-weight: 700;
        }

        p {
          font-size: 1.4rem;
          color: #065f46;
        }
      }
      .paragraph-three {
        display: flex;
        gap: 0.5rem;
        align-items: center;

        i {
          font-size: 1.4rem;
          color: #10b981;
          fill: #10b981;
          font-weight: 700;
        }

        p {
          font-size: 1.4rem;
          color: #065f46;
        }
      }
    }
  }

  figure {
    img {
      width: 28rem;
      border-radius: 1rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }
}

@keyframes shine {
  0% {
    opacity: 0.5;
    transform: scale(1);
    filter: drop-shadow(0 0 0px gold);
  }
  100% {
    opacity: 1;
    transform: scale(1.2);
    filter: drop-shadow(0 0 6px gold);
  }
}